.container {
  background-color: #0db3ff;
  height: 100vh;
}

.header {
  text-align: center;
  padding-top: 3%;
}
.header:hover {
  cursor: pointer;
}

.title {
  color: white;
}

.main {
  margin-top: 3%;
}
