.container {
  background-color: #0db3ff;
  height: 100vh;
  padding-bottom: 5rem;
}

.header {
  text-align: center;
  padding-top: 1rem;
}
.header:hover {
  cursor: pointer;
}

.main {
  margin-top: 1rem;
}
