DB_URI=<Your MongoDB URI>

TOKEN_SECRET=<Your JWT token secret>

# Session
SESS_SECRET=<Your session secret>

# ImageKit env
IMGKIT_URL_ENDPOINT=<your ImageKit endpoint>
IMGKIT_PUBLIC_KEY=<your ImageKit public key>
IMGKIT_PRIVATE_KEY=<your Imagekit private key>

# Mailboxlayer access key
MAILBOXLAYER_ACCESS_KEY=<your Mailboxlayer access key>

# Email credentials
MAIL_USERNAME=<your mail username>
MAIL_PASSWORD=<your mail password>

# Discord WebHook URL
DISCORD_WEBHOOK_URL=<your Discord webhook URL>